{{!-- this is the file where we will be making a form that takes in the data of whatever eas out and stores it in the tabel --}}


{{!-- make the form --}}



{{!-- NAME --}}
<form>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
  </div>
</form>
{{!-- NAME END --}}



{{!-- PHONE START --}}
<form>
  <div class="row">
    <div class="col">
      <input type="Phone Number" class="form-control" placeholder="7081231234">
    </div>
  </div>
</form>
{{!-- PHONE END --}}



{{!-- EMAIL --}}
<form>
  <div class="form-group">
    <label for="exampleFormControlInput1">Email address</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  </form>
{{!-- END EMAIL --}}




{{!-- do a value thing and set the variable of value in the form to thew same one  --}}


{{!-- equal the values and the things  that you eill be inserting but equal them like {{whatevs}}--}}
