{{!-- this is the file where we will be making a form that takes in the data of whatever eas out and stores it in the tabel
--}}
 {{!-- make the form --}}
 
  {{!-- NAME --}}
<form method="POST" action="/allies">
    <div class="row">
        <div class="col">
            <input name="name" type="text" class="form-control" placeholder="Name">
        </div>
    </div>
</form>
{{!-- NAME END --}} 


{{!-- PHONE START --}}
<form method="POST" action="/allies">
    <div class="row">
        <div class="col">
            <label for="exampleFormControlInput2">Phone Number: </label>
            <input name="phone" type="Phone Number" class="form-control" placeholder="Enter Phone Number">
        </div>
    </div>
</form>
{{!-- PHONE END --}}


 {{!-- EMAIL --}}
<form method="POST" action="/allies">
    <div class="form-group">
        <label for="exampleFormControlInput3">Email Address: </label>
        <input name="email" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
    </div>
</form>
{{!-- END EMAIL --}} {{!-- do a value thing and set the variable of value in the form to thew same one --}}


 {{!-- equal the
values and the things that you eill be inserting but equal them like {{whatevs}}--}}