<div class="row">
<div class="alliesAll">
<form id="form" method="POST" action="/allies">
<h2>Add an Ally</h2>
   <div class="form-group">
       <label for="exampleFormControlInput3"></label>
           <input name="name" id="name" type="text" placeholder="Name">
   </div>


   <div class="form-group">
       <label for="exampleFormControlInput2"></label>
       <input name="phone" id="phone" type="number" placeholder="Enter Phone Number">
   </div>



   <div class="form-group">
       <label for="exampleFormControlInput3"></label>
       <input name="email" id="email" type="email" id="exampleFormControlInput1" placeholder="name@example.com">
   </div>

   <button id="submitallies" type="button" class="btn btn-danger">Submit Friend</button>

</form>
</div>





<div id="tableContainer">
   <h2> Your Allies </h2>
   <table method="GET" action="/display">
       <thead>
           <tr>
               <th>Name</th>
               <th>Phone Number</th>
               <th>Email</th>
           </tr>
       </thead>
       <tbody id="new-allies">
           {{#each data}}
           <tr>
               <td class="allyname">{{ally_name}}</td>
               <td class="allyphone">{{phone_number}}</td>
               <td class="allyemail">{{email_add}}</td>
           </tr>
           {{/each}}
       </tbody>
   </table>
</div>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $("#submitallies").on("click", function (event) {
        event.preventDefault();
        debugger;
        $(".allyname").hide()
        $(".allyphone").hide()
        $(".allyemail").hide()
        debugger;
        var newAllyObj = {
            name: $("#name").val(),
            phone: $("#phone").val(),
            email: $("#email").val()
        };
        console.log(newAllyObj);
        $.post("/api/allies", newAllyObj, function (data) {
            var dataObj = JSON.stringify(data);
            //sent to ther data to database
            for (var i = 0; i < data.length; i++) {
                var allyName = data[i].ally_name;
                var allyPhone = data[i].phone_number;
                var allyEmail = data[i].email_add;
                console.log(allyName);
                console.log(allyPhone);
                console.log(allyEmail);
                $("#tableContainer").append(
                    "<tr class='allies'><td scope='ally-name'-> " + allyName +
                    "</td><td scope='ally-phone'> " + allyPhone +
                    "</td><td scope='start date'> " + allyEmail + " </td></tr>");
            }
            // make div show up at bottom that shows the poeple tht they have added to their friends and things
            // connect to exported function that is in the3 api route
            debugger;
            console.log("data" + dataObj);
            $('#form').trigger("reset");
        })
    });
</script>