<h1>Get Started</h1>

<form class="create-update-form" action="/layouts/new" method="POST">

  <div class="form-group">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username">
  </div>

  <div class="form-group">
    <label for="pass">Password:</label>
    <input type="password" id="pass" name="password">
  </div>

  <button type="submit">Log In</button>
</form>

