<h1>Get Started</h1>
<div id="result"></div>
<form class="create-update-form" action="/api/new-user" method="POST">


    <div class="form-group">
        <label for="name"></label>
        <input type="text" placeholder="Full Name" id="full-name" name="name">
        <br>
        <label for="email_add"></label>
        <input type="text" placeholder="Email" id="email" name="email_add">
        <br>
        <label for="phone_number"></label>
        <input type="number" placeholder="Phone" id="phone" name="phone_number">
        <br>
        <label for="user_name"></label>
        <input type="text" placeholder="Username" id="username" name="user_name">
        <br>
        <label for="user_password"></label>
        <input type="password" placeholder="password" id="pass" name="user_password">
    </div>

    <button id="submit" type="submit">Create Account</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


