<h1>Get Started</h1>

<form class="create-update-form" action="/layouts/new" method="POST">


    <div class="form-group">
        <label for="first">First Name: </label>
        <input type="text" id="first-name" name="first">

        <label for="first">Last Name: </label>
        <input type="text" id="last-name" name="last">
        <br>
        <label for="email">Email: </label>
        <input type="text" id="email" name="email">

        <label for="phone">Phone Number: </label>
        <input type="number" id="phone" name="phone">
        <br>

        <label for="pass">Username: </label>
        <input type="password" id="username" name="username">

        <label for="pass">Password: </label>
        <input type="password" id="pass" name="password">
    </div>

    <button type="submit">Create Account</button>
</form>