<h1>Get Started</h1>

<form class="create-update-form" action="/layouts/new" method="POST">


    <div class="form-group">
        <label for="first">First Name: </label>
        <label for="first">Last Name: </label>
        <input type="text" id="name" name="name">
    </div>



    <div class="form-group">
        <label for="email">Email: </label>
        <input type="text" id="email" name="email">
    </div>

    <div class="form-group">
        <label for="phone">Phone Number: </label>
        <input type="number" id="phone" name="email">
    </div>


    <div class="form-group">
        <label for="pass">Password: </label>
        <input type="password" id="pass" name="password">
    </div>

    <button type="submit">Create Account</button>
</form>