<h1>Get Started</h1>

<form class="create-update-form" action="/layouts/new" method="POST">


    <div class="form-group">
        <label for="first"></label>
        <input type="text" placeholder="First Name" id="first-name" name="first">
        <br>
        <label for="first"></label>
        <input type="text" placeholder="Last Name" id="last-name" name="last">
        <br>
        <label for="email"></label>
        <input type="text" placeholder="Email" id="email" name="email">
        <br>
        <label for="phone"></label>
        <input type="number" placeholder="Phone" id="phone" name="phone">
        <br>
        <label for="username"></label>
        <input type="text" placeholder="Username" id="username" name="username">
        <br>
        <label for="pass"></label>
        <input type="password" placeholder="password" id="pass" name="password">
    </div>

    <button type="submit">Create Account</button>
</form>