<h1>Get Started</h1>

<form class="create-update-form" action="/layouts/new" method="POST">


    <div class="form-group">
        <label for="first"></label>
        <input type="text" placeholder="First Name" id="first-name" name="first">
        <br>
        <label for="first"></label>
        <input type="text" placeholder="Last Name" id="last-name" name="last">
        <br>
        <label for="email"></label>
        <input type="text" placeholder="Email" id="email" name="email_add">
        <br>
        <label for="phone"></label>
        <input type="number" placeholder="Phone" id="phone" name="phone_number">
        <br>
        <label for="username"></label>
        <input type="text" placeholder="Username" id="username" name="user_name">
        <br>
        <label for="pass"></label>
        <input type="password" placeholder="password" id="pass" name="user_password">
    </div>

    <button id="submit" type="submit">Create Account</button>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    $("#submit").on("click", function (event) {
        event.preventDefault();
        var newUserObj = {
            name: $("#first-name").val() + (" ") + $("#last-name").val(),
            email: $("#email").val(),
            phone: $("#phone").val(),
            username: $("#username").val(),
            password: $("#password").val()
        }
        console.log("line 40" + JSON.stringify(newUserObj));
        $.post("/api/users", newUserObj, function(data) {
            
        })

    })


</script>