<!DOCTYPE html>
<html lang="en">

<head>

    <title>SOS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
     
</head>

<body>
      <div class="jumbotron">
      <img id="SOS" src="../../public/images/SOS.jpg">
      <p class="lead" style="text-align: center">Never go out alone! Safety in phone numbers.</p>
      <hr class="my-4">
    </div>

    {{{body}}}

</body>

</html>