<!DOCTYPE html>
<html lang="en">

<head>

   <title>SOS</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
       crossorigin="anonymous">
   <link rel="stylesheet" type="text/css" href="../../public/css/style.css">
   
</head>

<body>

   <nav class="navbar navbar-expand-lg navbar-light bg-light">
 <div class="collapse navbar-collapse" id="navbarNav">
   <ul class="navbar-nav">
     <li class="nav-item active">
       <a class="nav-link" href="./login">Login</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="./new-user">Get Started</a>
     </li>
     <li class="nav-item">
       <a class="nav-link" href="./allies">View Allies</a>
     </li>
      <li class="nav-item">
       <a class="nav-link" href="./call">Send a message</a>
     </li>
   </ul>
 </div>
</nav>


     <div class="jumbotron">
     <img id="SOS" src="../../public/images/SOS.jpg">
     <p class="slogan" style="text-align: center">Never go out alone!</p>
     <hr class="my-4">
   </div>

   {{{body}}}



</body>

</html>